.bg-main {
    background-image: url("/img/bg-main.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vh;
    position: relative;
}

.p-color {
    color: #0113a4 !important;
}

.footer-links {
    text-decoration: none;
}

html {
    font-size: 20rem;
}

@media (max-width: 450px) {
    html {
        font-size: 10px;
    }
}
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 30%;
    }
}
/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
}
